
.topBar{
    padding: 28px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1.5px solid lightgrey;
    
    div{
        display: flex;
        margin: 0 27px;

        h1{
            font-size: 27px;
            padding-top: 11px;
            margin: 0 20px 0 5px;
        }
        ul{
            display: flex;
            
            button{
                font-size: 19px;
                border: none;
                background-color: transparent;
                color: black;
                padding: 20px 0;
                margin: 0 10px;
            }
        }
    }
    
    button{
        background-color: #8056eb;
        color: white;
        height: 50px;
        padding: 0 30px;
        margin-right: 55px;
        border: none;
        border-radius: 10px;
        font-size: 16px;
    }
}