.categoryCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 20px;
}
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.3s;
  width: 250px;
  padding: 16px 20px;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
  img {
    width: 100%;
  }
}

.category {
  background-color: orange;
  display: inline-block;
  border: 1px solid black;
  padding: 7px;
  margin: 10px 0;
  border-radius: 40px;
}

